{% load djpassword_strength_tags %}
<script type="application/javascript">
(function ($) {
    var Rules = function ($this, options) {
        this.$this = $this;

        var rules = {}
        {% for validator in validators %}
        rules = $.extend(rules, {{validator|jsonify|safe}});
        {% endfor %}

        $this.PassRequirements({
            rules: rules,
            defaults: {{validators_defaults|jsonify|safe}}
        });
    }
    $.fn.rules = function(options) {
        var $target = $("#{{attrs.id}}");
        return new Rules($target, options);
    }
})(jQuery);
</script>